<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi! to Kombucha</title>
    <meta name="description" content=" Jasmine Guevara's website. San Diego based web developer and designer. ">
    <link href = "css/style.css" rel = "stylesheet" type = "text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <meta property="og:title" content="Hi! to Kombucha" />
    <meta property="og:url" content="https://hitokombucha.com/" />
    <meta property="og:image" content="" />
</head>
<body>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../js/main.js"></script>

</body>
</html>