<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hi! to Kombucha</title>
    <meta name="description" content="Find articles and how-to guides about kombucha, gardening, and healthy foods
    on Hi! to Kombucha.">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">

    <meta property="og:title" content="Hi! to Kombucha" />
    <meta property="og:url" content="https://hitokombucha.com/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/jazzyxgee/hikombucha.github.io/gh-pages/images/bottles-og.jpg" />

</head>
<body>
    <div class="container-home">
        <div class ="nav-bar">
            <div class = "nav-btns">
                <div class="button_search" id = "open-search" >
                    <a href="javascript:void(0)" class="openbtn">&#x1F50E;&#xFE0E;</a>
                </div>
                <div class="button_container_open" id = "open-button-container" >
                    <a href="javascript:void(0)" class="openbtn">&#9776;</a>
                </div>
            </div>
            <div class = "icon">
                <div class = "icon-img">
                    <img src="../img/logo design 2 transparency.png" width="70px" alt="Hi! to Kombucha logo">
                </div>  
            </div>

            <!-- overlay part-->
            <div class = "overlay" id ="overlay-menu">
                <div class='cursor' id="cursor"></div>
                <div class="button_container" id = "close-button-container" >
                    <a href="javascript:void(0)" class="closebtn" >X</a>
                </div>
                <nav>
                    <ul class = "links">
                        <li class = "active"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/shop">Shop</a></li>
                    </ul> 
                </nav>
            </div>
        </div>
        <section class="slideshow">
            <div class = "slideshow-display">
                <div class = "slides">
                    <div class = "slide-info post1">
                        <a href="javascript:void(0)">What's Growing in the Garden?</a>
                    </div>
                </div>
                <div class = "slides">
                    <div class = "slide-info post2">
                        <a href="javascript:void(0)">What is Kombucha?</a>
                    </div>
                </div>
                <div class = "slides">
                    <div class = "slide-info post3">
                        <a href="javascript:void(0)" >Poll: What would you like to learn about?</a>
                    </div>
                </div>
                <div class = "dots" style="text-align:center">
                    <span class="dot" id = "dot1"></span> 
                    <span class="dot" id = "dot2"></span> 
                    <span class="dot" id = "dot3"></span> 
                </div>
                <a class="prev" id = "prev" >❮</a>
                <a class="next" id = "next" >❯</a>

            </div>

        </section>
        <main>
            <div class = "main-text">
                <h1>Hi! to Kombucha</h1>
                <h4>Walk through a path to a healthy life with kombucha, gardening, and healthy foods.</h4>
                <p>It's time to shake things up! Our stories and videos are meant to inspire you and
                    open up the natural world around you. The team at Hi! to Kombucha welcomes you to
                    the party! 
                </p>
                <p style = 'text-align: center; font-size: 40px;'>. . .</p>
            </div>
            <div class = "video">
                <iframe class = 'yt-vid' src="https://www.youtube.com/embed/QFxq39ISJ1o" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
        </main>
        <section class="blog-roll">
           <div class = "br-posts">
                <div class = "br-post1">
                    <div class = "br-photo1">
                        <img src="https://cdn.pixabay.com/photo/2022/03/19/18/36/tea-7079254_960_720.jpg" width="480px" alt="Blog post photos">
                    </div>
                    <div class = " br-text1">
                        <a class = "bl-title-link" href="javascript:void(0)" >What's Growing in the Garden?</a><br>
                        <div class = "br-text">
                            by <a href="javascript:void(0)" > kombucha.jas</a><br>
                            <p><a href="javascript:void(0)" >Gardening</a> - 4/1/2022</p>
                            <br>
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
                <div class = "br-post2">
                    <div class = "br-photo2">
                        <img src="https://cdn.pixabay.com/photo/2022/03/19/18/36/tea-7079254_960_720.jpg" width="480px" alt="Blog post photos">
                    </div>
                    <div class = "br-text2">
                        <a class = "bl-title-link" href="javascript:void(0)" >Poll: What would you like to learn about?</a><br>
                        <div class = "br-text">
                            by <a href="javascript:void(0)" > kombucha.jas</a><br>
                            <p><a href="javascript:void(0)" >Polls</a> -  12/31/2021</p>
                            <br>
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
                <div class = "br-post3">
                    <div class = "br-photo3">
                        <img src="https://cdn.pixabay.com/photo/2022/03/19/18/36/tea-7079254_960_720.jpg" width="480px" alt="Blog post photos">
                    </div>
                    <div class = "br-text3">
                        <a class = "bl-title-link" href="javascript:void(0)" >What is Kombucha?</a><br>
                        <div class = "br-text" >
                            by <a href="javascript:void(0)" > kombucha.j</a><br>
                            <p><a href="javascript:void(0)" >Kombucha Korner</a> - 8/1/2021</p>
                            <br>
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class = "content1">
            <div class = "c2-img">
                <div>
                    <img src="../img/peace-donation.png" width="400px" alt="Peace-heart sign made of the word peace">
                </div>
            </div>
        </div>
        <div class = "content2">
            <div class = "c1-text">
                <div>
                    <h1>Donate, Make a Difference!</h1>
                    <p>Did you know even a small donation can help a cause or organization make a big difference?<br>
                        Help out the community or the planet!<br><br></p>
                    <a href="http://www.gofundme.com/" target="_blank">
                        <input type="submit" value="Donate" name="donate" class = "don-btn">
                    </a>
                </div>
            </div>
        </div>
        <div class="newsletter">
            <div class = "color-block">
                <div class = "newsletter-text">
                    <div>
                        <h3 class = "ns-h3">Join Our Newsletter</h3>
                        <p>live smarter, learn about nature, and join the fun! sign up and never miss a story.</p>
                    </div>
                </div>
            </div>
            <div class = "sign-up-form">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://hitokombucha.us1.list-manage.com/subscribe/post?u=fcd4dd51ca06bbc31ca5a97ce&amp;id=fb37e34a2c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address</label>
                                    <input type="email" value="" name="EMAIL" class="required email input-email" id="mce-EMAIL">
                                </div>
                            
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fcd4dd51ca06bbc31ca5a97ce_fb37e34a2c" tabindex="-1" value=""></div>
                        <div class = "button-area">
                            <div>
                                <input type="submit" value="Subscribe" name="subscribe" class = "sub-btn">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->

            </div>
        </div>
        <footer>
            <div class = "footer-content">
                <div class = "footer-info">
                    <h3>Hi! to Kombucha</h3>
                    <a class = "cc-link" href="mailto:customer.care@hitokombucha.com" >customer.care@hitokombucha.com</a><br>
                    <p>San Diego, CA</p>
                    <br>
                </div>
                <div class = "footer-social">
                    <a href="https://www.instagram.com/hi2kombucha/" target="_blank"><img src="../img/ig-icon.png" width="30px" alt="Instagram icon"></a>
                    <a href="https://www.youtube.com/channel/UC1sNPHowGkGBphwOIhpp-MQ/featured" target="_blank"><img src="../img/yt-icon.png" width="30px" alt="Youtube icon"></a>
                    <a href="https://www.linkedin.com/company/hi-to-kombucha/?viewAsMember=true" target="_blank"><img src="../img/ln-icon.png" width="30px" alt="Linkedin icon"></a>
                </div>
            </div>
        </footer>
    </div>

    <!-- <script src="https://unpkg.com/scrollreveal"></script> -->
    <script src="../js/main.js"></script>

</body>
</html>