<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hi! to Kombucha</title>
    <meta name="description" content="Find articles and how-to guides about kombucha, gardening, and healthy foods
    on Hi! to Kombucha.">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap" rel="stylesheet">

    <meta property="og:title" content="Hi! to Kombucha" />
    <meta property="og:url" content="https://hitokombucha.com/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/jazzyxgee/hikombucha.github.io/gh-pages/images/bottles-og.jpg" />

</head>

<body>

    <div class="container-home">
        <div class ="nav-bar">
            <div class = "nav-btns">
                <div class="button_search" id = "open-search" >
                    <a href="javascript:void(0)" class="openbtn">&#x1F50E;&#xFE0E;</a>
                </div>
                <div class="button_container_open" id = "open-button-container" >
                    <a href="javascript:void(0)" class="openbtn">&#9776;</a>
                </div>
            </div>
            <div class = "icon">
                <div class = "icon-img">
                    <img src="../img/logo design 2 transparency.png" width="70px" alt="Picture of Jasmine Guevara">
                </div>  
            </div>

            <!-- overlay part-->
            <div class = "overlay" id ="overlay-menu">
                <div class='cursor' id="cursor"></div>
                <div class="button_container" id = "close-button-container" >
                    <a href="javascript:void(0)" class="closebtn" >X</a>
                </div>
                <nav>
                    <ul class = "links">
                        <li class = "active"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/projects">Projects</a></li>
                    </ul> 
                </nav>
            </div>
        </div>
        <section class="slideshow">
            <div class = "slideshow-display">
                <div class = "slides">
                    <div class = "slide-info post1">
                        <a href="javascript:void(0)">What's Growing in the Garden?</a>
                    </div>
                </div>
                <div class = "slides">
                    <div class = "slide-info post2">
                        <a href="javascript:void(0)">What is Kombucha?</a>
                    </div>
                </div>
                <div class = "slides">
                    <div class = "slide-info post3">
                        <a href="javascript:void(0)" >Poll: What would you like to learn about?</a>
                    </div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
                <div class = "dots" style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                </div>
            </div>
                <!--<img src="https://www.w3schools.com/howto/img_nature_wide.jpg">
                <img src="https://www.w3schools.com/howto/img_snow_wide.jpg" style="width:100%">
                <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" style="width:100%">
                -->
        </section>
        <main>
            <div class = "main-text">
                <h1>Hi! to Kombucha</h1>
                <h4>Walk through a path to a healthy life with kombucha, gardening, and healthy foods.</h4>
                <p>It's time to shake things up! Our stories and videos are meant to inspire you and
                    open up the natural world around you. The team at Hi! to Kombucha welcomes you to
                    the party! 
                </p>
                <p style = 'text-align: center; font-size: 40px;'>. . .</p>
            </div>
            <div class = "video">
                <iframe class = 'yt-vid' src="https://www.youtube.com/embed/QFxq39ISJ1o" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
        </main>
        <section class="blog-roll">
           <div class = "br-posts">
                <div class = "br-post1">
                    <div class = "br-photo1">
                        <img src="https://cdn.pixabay.com/photo/2022/03/19/18/36/tea-7079254_960_720.jpg" width="480px" alt="Picture of Jasmine Guevara">
                    </div>
                    <div class = " br-text1">
                        <a class = "bl-title-link" href="javascript:void(0)" >What's Growing in the Garden?</a><br>
                        <div class = "br-text">
                            by <a href="javascript:void(0)" > kombucha.jas</a><br>
                            <p><a href="javascript:void(0)" >Gardening</a> - 4/1/2022</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
                <div class = "br-post2">
                    <div class = "br-photo2">
                        <img src="https://cdn.pixabay.com/photo/2022/03/19/18/36/tea-7079254_960_720.jpg" width="480px" alt="Picture of Jasmine Guevara">
                    </div>
                    <div class = "br-text2">
                        <a class = "bl-title-link" href="javascript:void(0)" >Poll: What would you like to learn about?</a><br>
                        <div class = "br-text">
                            by <a href="javascript:void(0)" > kombucha.jas</a><br>
                            <p><a href="javascript:void(0)" >Polls</a> -  12/31/2021</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
                <div class = "br-post3">
                    <div class = "br-photo3">
                        <img src="https://cdn.pixabay.com/photo/2022/03/19/18/36/tea-7079254_960_720.jpg" width="480px" alt="Picture of Jasmine Guevara">
                    </div>
                    <div class = "br-text3">
                        <a class = "bl-title-link" href="javascript:void(0)" >What is Kombucha?</a><br>
                        <div class = "br-text" >
                            by <a href="javascript:void(0)" > kombucha.j</a><br>
                            <p><a href="javascript:void(0)" >Kombucha Korner</a> - 8/1/2021</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class = "content1">Content1</div>
        <div class = "content2">Content2</div>
        <div class="newsletter">Newsletter</div>
        <footer>Footer</footer>
    </div>






    <!-- need to put in main.js-->
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("slides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
        }
    </script>
    <!-- <script src="https://unpkg.com/scrollreveal"></script> -->
    <script src="../js/main.js"></script>

</body>
</html>