.hero-section {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),url("../img/drink-food.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}
.hero-text {
    
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    height: 100%;
}
.quote h1 {

    font-size: 40px;
}
.about-us{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3699e;
    
    background-image: url("../img/leafy.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
.about-us-text{
    text-align: center;
    width: 60%;
}
.about-us-text h2{
    font-size: 30px;
}

.about-team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 760px;

    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #d1b4cf;
}
.about-team-area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 60%;
    
}
.about-team-area h2{
    color:#a3699e;
    font-size: 30px;
}
.about-team-area img {
    border-radius: 50%;
}
.about-text{
    font-size: 18px;
    width: 400px;
}
.team-bio {
    font-size: 18px;
    text-align: center;
    width: 70%;
}

@media only screen and (max-width :1080px) {
    .about-us{
        background-image: url("../img/leaf-euc.png");
        background-position:center;
        height: 700px;
    }
    .about-us-text{
        background: rgba(255, 207, 255, 0.7);
        text-align: center;
        width: 60%;
    }
    .quote {
        width: 70%;
    }
}
@media only screen and (max-width :805px) {

    .about-team-area{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        width: 100%;
        
    }
    .about-team{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    
        background-color: #d1b4cf;
    }
    .about-team-area img {
        border-radius: 50%;
        width: 200px;
    }
    .about-text{
        width: 100%;
    }
}