*{
    box-sizing: 0;
    margin: 0;
    padding:0;
    font-family: "Lato", sans-serif;
}
html{
    /*overflow: hidden;*/
    height: 100%;
}
body{
    background-color: #ffffff;
    /*overflow: auto;*/
    height: 100%;
}

/*nav*/
.nav-bar {
    background-color: #ffffff;
    grid-area: nav;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "o icon nav-btns";
}
.openbtn{
    color:#000;
    text-decoration: none;
}
.openbtn:hover{
    cursor: pointer;
    opacity: .6;
}
.closebtn{
    color:#000000;
    text-decoration: none;
    padding-top: 20px;
}
.closebtn:hover {
    cursor: pointer;
    opacity: .6;
}
.nav-btns{
    grid-area: nav-btns;
    display: flex;
    align-items: center;
    justify-content: right;
}
.button_container_open{
    font-size: 30px;
}
.button_search{
    font-size: 30px;
}
.icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    overflow: hidden; /* Hide scrollbars */
}
nav{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_container{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 30px;
}

/*home*/
.container-home{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1.2fr 1.1fr 4fr .3fr 0.5fr .1fr;
    grid-template-areas:
        "nav nav"
        "slideshow slideshow"
        "main main"
        "roll roll"
        "c1 c2"
        "newsletter newsletter"
        "footer footer";
    grid-gap: 0.2rem;
}

/*slideshow*/
.slideshow{
    background-color: #ffffff;
    grid-area: slideshow;
}
.slideshow-display {
    position: relative;
    margin: auto;
}
.slides{
    display: none;
    height:700px;
}
.slide-info{
    height: 100%; /* You must set a specified height */          
}
.slide-info a{
    position:absolute;                 
    bottom:30px;

    font-family: "Noticia Text", sans-serif;
    color:#fff;
    text-decoration: none;
    font-size: 40px;                          
}
.yt-vid{
    width:560px; 
    height:315px;
}
.slide-info a:hover{
    text-decoration: underline;  
}

/*front page post*/
.post1{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url("https://www.w3schools.com/howto/img_nature_wide.jpg");
    background-position: center;
    background-size: cover;
}
.post2{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url("https://www.hitokombucha.com/images/what-is-kombucha-cover.jpg");
    background-position: center;
    background-size: cover;
}
.post3{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url("https://www.hitokombucha.com/images/poll-august.jpg");
    background-position: center;
    background-size: cover;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dots{
    padding-top: 5px; 
}
.dot{
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

/*main section, intro w/ vid*/
main{
    background-color: #ffffff;
    grid-area: main;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-text {
    width: 500px;
}
.main-text h4{
    font-size: 22px;
}
.main-text p{
    font-size: 18px;
}

/*homepage featured posts - by newest*/
.blog-roll{
    background-color: #ffffff;
    grid-area: roll;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.bl-title-link{
    font-size: 22px;
    color:#000;
    
    font-family: "Noticia Text", sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.br-posts{
    text-align: center;
    font-size: 18px;
}
.br-text{
    padding-bottom: 40px;
}
.br-text a{
    color:#000;
    font-style: italic;
    text-decoration: none;
}
.br-posts a:hover{
    text-decoration: underline;
}
.br-posts button {
    background-color: #fff;
    border: 2px solid #eaeaea;
    height: 50px;
    width: 180px;
    font-size: 20px;
}
.br-posts button:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #ffffff;
    height: 50px;
    width: 180px;
    font-size: 20px;
}
/*.br-post1{
    background-color: palevioletred;
}
.br-post2{
    background-color: rgb(194, 100, 131);
}
.br-post3{
    background-color: rgb(161, 87, 112);
}
.br-text{
    text-align: center;
}*/

/*space for extra content*/
.content1{
    background-color: #fffef5;
    grid-area: c1;
}
.content2{
    background-color: #ffffff;
    grid-area: c2;
}
.c1-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 500px;
}
.c2-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.don-btn {
    background-color: #fff;
    border: 2px solid #eaeaea;
    height: 40px;
    width: 130px;
    font-size: 20px;
}
.don-btn:hover {
    background-color: #19a900;
    border: 2px solid #19a900;
    color: #fff;
    height: 40px;
    width: 130px;
    font-size: 20px;
}

/*newsletter sign up*/
.newsletter{
    background-color: #f4f2df;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23899276' fill-opacity='0.13' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");    grid-area: newsletter;
}
.color-block{
    background-color: #FFFBDD;
    height: 200px;
}
.newsletter-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 100%;
}
.ns-h3{
    font-size: 24px;
}
#mc_embed_signup{
    width:600px;
}
.sign-up-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.button-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-btn{
    background-color: #a40000;
    color: #fff;
    border: 2px solid #ffffff;
    height: 40px;
    width: 130px;
    font-size: 20px;
}
.sub-btn:hover {
    background-color: #f30000;
    color: #ffffff;
    border: 2px solid #ffffff;
    height: 40px;
    width: 130px;
    font-size: 20px;
}

/*footer*/
footer{
    background-color: #ffffff;
    grid-area: footer;
}
.footer-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-info {
    text-align: center;
}
.cc-link{
    color: #000;
    font-style: italic;
}
@media only screen and (max-width :1080px) {
    .container-home{

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1.2fr 1.1fr 4fr .3fr .3fr 0.5fr .1fr;
        grid-template-areas:
            "nav nav"
            "slideshow slideshow"
            "main main"
            "roll roll"
            "c1 c1"
            "c2 c2"
            "newsletter newsletter"
            "footer footer";
    }
    main{
        flex-direction: column;
    }
    
}